.header {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: center;
  background: #fff;
}

.navigation {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  min-height: 100vh;
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 5rem;
}

.featured {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.first {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
}

.second {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
}

.third {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 372px;
}

.text {
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
}

.footer {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
